html {
  font-size: 18px;
  line-height: 1.4rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 1rem;
  height: 30rem;
}

header .flex {
  justify-content: flex-end;
}

nav {
  padding: 1rem 0rem;
  justify-content: space-between;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

ul li {
  display: inline;
  padding: 0 1rem;
}

.trunc-menu {
  display: none;
}

.menu {
  margin-right: 1rem;
}

.flex {
  display: flex;
}

.main-banner {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.4rem;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
}

.supporting {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  margin: 3rem;
  width: 5rem;
}

.service img {
  width: 5rem;
}

.service img.paper {
  width: 3.5rem;
}

.service div {
  font-family: Helvetica;
  line-height: 1.4rem;
  text-align: center;
}

.info {
  width: 35%;
  margin: 0 2.5% 5rem 2.5%;
}

.title {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  color: white;
  width: 10rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
}

.info p {
  margin-top: 1rem;
  font-family: Helvetica;
  line-height: 1.4rem;
}

footer {
  display: flex;
  align-items: center;
  padding: 4rem 0rem 4rem 4rem;
  background-color: azure;
}

footer img {
  height: 1.5rem;
  margin-right: 1rem;
}

footer div {
  font-family: Helvetica;
}

@media only screen and (max-width: 1024px) {

  header {
    height: 22rem;
    padding-top: 0;
  }

  nav.container {
    max-width: 100%;
  }

  .main-banner {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1.33rem;
    padding: 1.5rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
    background-color: white;
    line-height: 2.4rem;
  }

}

@media only screen and (max-width: 480px) {

  header {
    height: 17rem;
    background-position: 20%;
  }

  header span {
    display:none;
  }

  .main-banner {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 0;
    line-height: 1.2rem;
    background-color: white;
    margin: 9rem auto 0 auto;
    width: 100%;
    text-align: center;
  }

  .menu ul {
    display: none;
  }

  .menu ul.trunc-menu {
    display: block;
  }

  .supporting {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3.77rem;
  }

  .service {
    margin: 0.77rem;
    height: auto;
    margin-bottom: 1.54rem;
  }

  .service div {
    font-size: 0.77rem;
  }

  .info {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .title {
    text-align: center;
    width: 100%;
    padding-left: 0;
  }

  .info p {
    font-size: 0.77rem;
    padding: 1rem;
  }

  footer {
    justify-content: center;
    padding-left: 0;
  }

  footer div {
    display: none;
  }

}
